

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#editor {
  width: 100%;
  resize: vertical;
  height: 400px
}

#preview {
  padding-left: 20px;
  padding-right: 10px;
}

pre, p code { 
  background-color: #ccc;
  padding: 2px 10px;
}

blockquote { 
  border-left: 4px solid #ccc;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}